@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fbf5ef;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #272744;
}

h2 {
  font-size: 16px;
  color: #272744;
}
